name: Metrics

on:
  schedule: [{cron: "0 0 * * 1"}] # weekly updates
  workflow_dispatch: # manual update
  push: # when workflow file changes
    paths:
      - .github/workflows/metrics.yml

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: dansmith01
          commits_authoring: Daniel Smith, dansmith01, dansmith01@users.noreply.github.com, dansmith01@gmail.com, dpsmith@bcm.edu
          template: classic
          base: header, activity, community, metadata
          base_indepth: yes
          config_timezone: America/Los_Angeles
          plugin_languages: yes
          plugin_languages_analysis_timeout: 60
          plugin_languages_categories: programming
          plugin_languages_recent_categories: programming
          plugin_languages_indepth: yes
          plugin_languages_indepth_custom: cmmr/rbiom, cmmr/interprocess, cmmr/jobqueue, cmmr/webqueue, cmmr/fillpattern, cmmr/h5lite
          plugin_languages_limit: 4
          plugin_languages_sections: most-used
          plugin_languages_details: bytes-size, percentage
          plugin_lines: yes
          plugin_lines_history_limit: 1
          plugin_lines_repositories_limit: 4
          plugin_lines_sections: base
          plugin_notable: yes
          plugin_notable_from: all
          plugin_notable_repositories: yes
          plugin_notable_types: commit, pull_request
          plugin_reactions: yes
          plugin_reactions_display: absolute
          plugin_reactions_limit: 200
          plugin_reactions_limit_discussions: 100
          plugin_reactions_limit_discussions_comments: 100
          plugin_reactions_limit_issues: 100
